<li>
	{{name}}

	<button class=" btn btn-dark change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Devoured{{else}}Bring back to my list{{/if}}
	</button>

	<button class="btn btn-light delete-burger" data-id="{{this.id}}"><i class="fas fa-trash-alt"></i></button>
</li>
